In [1]:
import pandas as pd

# Series — 1D Labeled Array

In [3]:
s=pd.Series([99,65,78,78,66,68,56,92,100] , index=['Siddartha' , 'Sourav' , 'Arun' , 'Aniket','Surya','Venky',"Raghu",'Jagan','Bru'])
print(s)
print(type(s))

Siddartha     99
Sourav        65
Arun          78
Aniket        78
Surya         66
Venky         68
Raghu         56
Jagan         92
Bru          100
dtype: int64
<class 'pandas.core.series.Series'>

In [5]:
print(s["Arun"])

78

In [6]:
print(s["Bru"])

100

In [7]:
print(s[4])  # DO NOT USSEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE

66

C:\Users\Siddartha\AppData\Local\Temp\ipykernel_15412\2660035851.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[4])

# DataFrame — 2D Labeled Table

### A DataFrame is like a dictionary of Series — multiple columns with labels.

In [8]:
data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35],
    "city": ["Delhi", "Mumbai", "Bangalore"]
}

df = pd.DataFrame(data)
print(df)         #Each column in a DataFrame is a Series.

      name  age       city
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Bangalore

In [10]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [11]:
df.columns

Index(['name', 'age', 'city'], dtype='object')

## Most Pandas operations are built on these foundations:

Selection
Filtering
Merging
Aggregation

Understanding Series & DataFrames will make everything else easier.